table 
{
    margin-top: 1%;
    padding: 5px;
    align-items: center;
    width: 98%;
    background-color: blanchedalmond;
    margin-left: 5px;
}
.card
{
   padding: 15px;
}
#tabledata
{
   text-align: center;
}
#del
{
   margin-left: 3px;
}