<div class="grid-container">
  <div class="mat-elevation-z8">
    <mat-card class="dashbord-card">
      <div class="card-header">
        <mat-toolbar class="mat-h1" color="basic"><h1>Faculty List</h1></mat-toolbar>
      </div>
      <div class="card-body">
          <div class="table-responsive">
              <table class="table">
                  <thead>
                      <tr class="text-center">
                          <th>Name</th>
                          <th>Username</th>
                          <th>Email</th>
                          <th>Select</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr *ngFor="let faculty of facultys" id="tabledata">
                          <td>{{faculty.name}}</td>
                          <td>{{faculty.username}}</td>
                          <td>{{faculty.email}}</td>
                          <td><button mat-riased-button color='primary'>Open</button></td>
                      </tr>
                  </tbody>
              </table>
          </div>
      </div>
    </mat-card>
  </div>
  </div>